<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>BostonULTIMATE</title>
        {% endif %}
    </head>
    <body style="margin:0; font-family:'Gotham 4r',Helvetica,Arial,sans-serif">
        <div>
          <a style="padding-left: 20px; text-decoration: none;" href="{{ url_for('index') }}">
            <img style="width: auto; height: 77px; margin-right: 80px; margin-top: 0!important;" src="/static/images/bose-logo.png"/>
          </a>
        </div>
        <div style="margin: 0!important; background: #000000; opacity:0.8; text-align:right; padding: 10px; font-family:'Gotham 7r',Helvetica,Arial,sans-serif">
          <!--<a style="padding-right: 30px; text-decoration: none;" href="{{ url_for('index') }}">Home</a>-->
          {% if current_user.is_anonymous %}
          <a style="font-size: 12px; font-weight: 800; padding-right: 30px; text-decoration: none;" href="{{ url_for('login') }}">LOGIN</a>
          {% else %}
          <a style="font-size: 12px; font-weight: 800; color: #FFF; padding-right: 30px; text-decoration: none;" href="{{ url_for('logout') }}">LOGOUT</a>
          {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div style="text-align: center;">
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
